# 統計二 林盈盈 107304018

## ▲期末報告主題->職業災害統計行業別與受傷部位分析
## ▲資料來源
### 政府資開放平台-職業災害統計災害類型按行業分(年度) https://data.gov.tw/dataset/41513
## ▲你想解決的問題
### 因為大家現在都是大學生，未來也將投入職場，不管之後是擔任員工，抑或是老闆，職業災害這個問題是每個人都學要去面對、去重視的，所以我希望可以利用簡單的數據分析，去看說什麼樣的產業有較高的受傷率，還有什麼樣的部位較容易受傷，這樣可以幫助這些高機率會發失職災的產業去重視員工受傷的情形，並做預防，希望可以有效降低員工受傷的可能性
## ▲你遇到的困難
### 因為這個資料算是比較簡單，裡面的內容比較少，所以分析起來沒有到很困難，但是我覺得這個分析還有一個可以再做的更好的地方，如果結果可以搭配資料視覺化的話，應該可以更好的呈現給使用者看，所以未來如果有機會我希望可以再加入資料視覺化這個部分！

### 匯入基本的數據分析套件

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv('https://quality.data.gov.tw/dq_download_csv.php?nid=20592&md5_url=e1accb446ecf527a2ae3bfde55a7ce40')

### 查看資料庫的內容

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 4 columns):
年度        1080 non-null int64
受傷部位      1080 non-null object
行業別       1080 non-null object
受傷部位次數    1080 non-null int64
dtypes: int64(2), object(2)
memory usage: 25.4+ KB

In [130]:
df.head()

     年度 受傷部位       行業別  受傷部位次數
0  2014    頭  農、林、漁、牧業       4
1  2014    頭  礦業及土石採取業       1
2  2014    頭     食品製造業      32
3  2014    頭     飲料製造業       1
4  2014    頭     菸草製造業       0

In [131]:
df.tail()

        年度 受傷部位              行業別  受傷部位次數
1075  2014   其他  公共行政及國防；強制性社會安全      32
1076  2014   其他            教育服務業       2
1077  2014   其他     醫療保健及社會工作服務業      31
1078  2014   其他      藝術、娛樂及休閒服務業       2
1079  2014   其他            其他服務業       1

## 將資料進行分類-以受傷部位分類

In [132]:
df.groupby(['受傷部位'])[[ "受傷部位次數"]].sum()

      受傷部位次數
受傷部位
上膊       141
內臟        36
全身        63
其他       631
前膊       244
手       2263
指       2797
肋骨       145
肘        390
股        867
肩        331
背        437
胸        298
腕        387
腹        137
腿       1084
臀        286
臉顏       564
足       2122
鎖骨        98
頭        954
頸        197
鼠蹊        26

In [134]:
heart_part=df.groupby(['受傷部位'])[[ "受傷部位次數"]].sum()

###  前5大受傷部位

In [137]:
heart_part.sort_values(by=['受傷部位次數'], ascending=False).head()

      受傷部位次數
受傷部位
指       2797
手       2263
足       2122
腿       1084
頭        954

## 將資料進行分類-以行業類別分類

In [135]:
df.groupby(['行業別'])[[ "受傷部位次數"]].sum()

                 受傷部位次數
行業別
不動產業                137
住宿及餐飲業             1220
公共行政及國防；強制性社會安全     404
其他服務業                46
其他製造業               150
其他運輸工具製造業           248
化學材料製造業             215
化學製品製造業             158
印刷及資料儲存媒體複製業         46
基本金屬製造業             410
塑膠製品製造業             370
家具製造業                61
專業、科學及技術服務業          69
成衣及服飾品製造業            37
批發及零售業              976
支援服務業               451
教育服務業                25
木竹製品製造業              40
機械設備製造業             507
橡膠製品製造業             218
汽車及其零件製造業           211
營造業                 455
產業用機械設備維修及安裝業         8
用水供應及污染整治業          346
皮革、毛皮及其製品製造業         60
石油及煤製品製造業            12
礦業及土石採取業             11
紙漿、紙及紙製品製造業         181
紡織業                 312
菸草製造業                 1
藝術、娛樂及休閒服務業         126
藥品製造業               107
資訊及通訊傳播業            144
農、林、漁、牧業             51
運輸及倉儲業             1899
醫療保健及社會工作服務業        571
金屬製品製造業             977
金融及保險業              411
電力及燃氣供應業             31
電力設備製造業             308
電子零組件製造業           1145
電腦、電子產品及光學製品製造業     365
非金屬礦物製品製造業          324
食品製造業               620
飲料製造業                34

In [136]:
heart_work=df.groupby(['行業別'])[[ "受傷部位次數"]].sum()

### 前5大容易受傷行業

In [138]:
heart_work.sort_values(by=['受傷部位次數'], ascending=False).head()

          受傷部位次數
行業別
運輸及倉儲業      1899
住宿及餐飲業      1220
電子零組件製造業    1145
金屬製品製造業      977
批發及零售業       976

## 結論
### 以行業別來看，在運輸及倉儲業受傷比例最高，且以受傷部位來看，手部的受傷機率最高，因此建議在上列高機率受傷的產業（運輸及倉儲業、住宿及餐飲業、電子零組件製造業、金屬製品製造業、批發及零售業），雇主需要特別注意員工發生職業傷害的狀況，尤其可以指、手、足、腿、頭這幾個部位為優先注意的對象。