# HW1-學生出國際進修男女比例

In [8]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv('https://quality.data.gov.tw/dq_download_csv.php?nid=24730&md5_url=4aef269899d2f4463e178f4acbaede1f')
df.head()

,學年度,學期（上學期為1；下學期為2）,設立別,學校類別,學校統計處代碼,學校名稱,系所代碼,系所名稱,學制班別(日間),進修交流國家(地區)區域別,本國學生出國進修交流至少1學期(修讀學分)以上人數男,本國學生出國進修交流至少1學期(修讀學分)以上人數女,本國學生出國進修交流未滿1學期(修讀學分)人數男,本國學生出國進修交流未滿1學期(修讀學分)人數女
0,105,1,公立,一般大學,1,國立政治大學,01111001,教育學系,學士班(日間),大陸地區,0,1,0,0
1,105,1,公立,一般大學,1,國立政治大學,01111001,教育學系,博士班,大陸地區,1,0,0,0
2,105,1,公立,一般大學,1,國立政治大學,01111001,教育學系,學士班(日間),歐洲,0,2,0,0
3,105,1,公立,一般大學,1,國立政治大學,01131002,華語文教學博士學位學程,博士班,東協,0,1,0,0
4,105,1,公立,一般大學,1,國立政治大學,01131002,華語文教學碩士學位學程,碩士班(日間),歐洲,0,1,0,0

In [42]:
df.loc[:,"本國學生出國進修交流至少1學期(修讀學分)以上人數男":"本國學生出國進修交流至少1學期(修讀學分)以上人數女"].sum(axis=0)

本國學生出國進修交流至少1學期(修讀學分)以上人數男     6697
本國學生出國進修交流至少1學期(修讀學分)以上人數女    16478
dtype: int64

In [43]:
df.loc[:,"本國學生出國進修交流未滿1學期(修讀學分)人數男":"本國學生出國進修交流未滿1學期(修讀學分)人數女"].sum(axis=0)

本國學生出國進修交流未滿1學期(修讀學分)人數男    2062
本國學生出國進修交流未滿1學期(修讀學分)人數女    3586
dtype: int64

In [47]:
a=df.loc[:,"本國學生出國進修交流至少1學期(修讀學分)以上人數男"].sum(axis=0)
b=df.loc[:,"本國學生出國進修交流未滿1學期(修讀學分)人數男"].sum(axis=0)
print("本國學生出國進修交流總人數(男):",a+b)
c=df.loc[:,"本國學生出國進修交流至少1學期(修讀學分)以上人數女"].sum(axis=0)
d=df.loc[:,"本國學生出國進修交流未滿1學期(修讀學分)人數女"].sum(axis=0)
print("本國學生出國進修交流總人數(女):",c+d)

本國學生出國進修交流總人數(男): 8759
本國學生出國進修交流總人數(男): 20064