# HW2-101-105年度學生貸款分析

In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv('https://quality.data.gov.tw/dq_download_csv.php?nid=28387&md5_url=a3486ce502e239621e696782dfb49825')
df.head()

   學年度       項目          公立大專校院           私立大專校院         公立高中職           私立高中職
0   92     貸款人次         89,932          430,947        22,128         136,193
1   92     貸款人數         49,189          239,672        12,820          76,528
2   92  貸款金額（元）  2,561,172,994   18,974,472,765   211,485,065   3,586,399,845
3   93     貸款人次         94,907          442,639        19,468         137,419
4   93     貸款人數         51,766          241,307        11,267          76,658

In [9]:
df[(df.學年度>100)]

    學年度       項目          公立大專校院           私立大專校院        公立高中職         私立高中職
27  101     貸款人次        122,774          485,818        8,479        47,824
28  101     貸款人數         66,859          267,805        5,078        27,986
29  101  貸款金額（元）  3,568,447,409   21,538,156,905   82,432,442   594,944,354
30  102     貸款人次        116,562          464,142        6,468        34,304
31  102     貸款人數         63,284          254,437        3,818        20,199
32  102  貸款金額（元）  3,400,742,102   20,790,101,243   71,548,983   469,395,475
33  103     貸款人次        109,394          436,770        4,398        24,791
34  103     貸款人數         59,798          241,866        2,661        14,929
35  103  貸款金額（元）  3,194,603,683   19,793,570,233   53,327,034   333,273,637
36  104     貸款人次        106,829          420,502        2,930        19,372
37  104     貸款人數         58,177          232,881        1,824        11,850
38  104  貸款金額（元）  3,147,916,118   19,005,109,029   38,848,347   261,811,819
39  105     貸款人次        104,715          398,043        1,912        16,758
40  105     貸款人數         57,000          218,142        1,231        10,269
41  105  貸款金額（元）  3,116,891,969   18,085,706,718   30,121,995   241,351,923

In [5]:
df_people=df[(df.學年度>100)&(df.項目=="貸款人數")]
df_people

    學年度    項目   公立大專校院    私立大專校院   公立高中職    私立高中職
28  101  貸款人數  66,859   267,805   5,078   27,986
31  102  貸款人數  63,284   254,437   3,818   20,199
34  103  貸款人數  59,798   241,866   2,661   14,929
37  104  貸款人數  58,177   232,881   1,824   11,850
40  105  貸款人數  57,000   218,142   1,231   10,269

In [7]:
df_money=df[(df.學年度>100)&(df.項目=="貸款金額（元）")]
df_money

    學年度       項目          公立大專校院           私立大專校院        公立高中職         私立高中職
29  101  貸款金額（元）  3,568,447,409   21,538,156,905   82,432,442   594,944,354
32  102  貸款金額（元）  3,400,742,102   20,790,101,243   71,548,983   469,395,475
35  103  貸款金額（元）  3,194,603,683   19,793,570,233   53,327,034   333,273,637
38  104  貸款金額（元）  3,147,916,118   19,005,109,029   38,848,347   261,811,819
41  105  貸款金額（元）  3,116,891,969   18,085,706,718   30,121,995   241,351,923