# HW4-台鐵每日進站人數分析

In [26]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv('https://quality.data.gov.tw/dq_download_csv.php?nid=8792&md5_url=0b058a051a852e78cbafdc6b0a8b8821')
df.head()

   trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0   20190424      900             7565             6971
1   20190424      910             1431             1492
2   20190424      920             2630             2329
3   20190424      930             6112             6345
4   20190424      940             2785             2741

## 台鐵進站人數最多的時間和車站->雙十連假在台北

In [27]:
df.sort_values(by="gateInComingCnt",ascending= False).head()

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
42004   20191010     1000            87020            73207
40099   20191011     1000            83930            78633
32721   20190912     1000            83752            71323
39861   20191009     1000            80004            72499
30110   20190816     1000            78481            74835

## 台鐵進站人數最少的時間和車站->最少前5名有3次在枋山

In [37]:
df.sort_values(by="gateInComingCnt",ascending= False).tail()

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
2774    20190512     5160                0                2
30971   20190827     5140                0                2
1109    20190502     5160                0                2
35607   20190926     5160                0                2
16467   20190629     5130                0                3

## 台鐵從2019/4/24-10/27的總進出站量

In [36]:
df.loc[:,"gateInComingCnt":"gateOutGoingCnt"].sum(axis=0)

gateInComingCnt    124517920
gateOutGoingCnt    124517920
dtype: int64